Source: python-alogger
Section: python
Priority: optional
Maintainer: Brian May <bam@debian.org>
Build-Depends: debhelper (>=8.1.0), dh-python,
 python-all (>= 2.6.6-3~), python-setuptools,
 python3-all, python3-setuptools
Standards-Version: 3.9.8
Homepage: https://github.com/Karaage-Cluster/python-alogger
Vcs-Git: git://github.com/Karaage-Cluster/python-alogger
Vcs-Browser: https://github.com/Karaage-Cluster/python-alogger

Package: python-alogger
Architecture: all
Depends: ${misc:Depends}, ${python:Depends}
Description: Small Python library to parse resource manager logs
 Python alogger is a small Python library to parse resource manager logs.
 It is used by Karaage. For more information on
 Karaage, see https://github.com/Karaage-Cluster/karaage, or the documentation
 at http://karaage.readthedocs.org/

Package: python3-alogger
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Small Python library to parse resource manager logs
 Python alogger is a small Python library to parse resource manager logs.
 It is used by Karaage. For more information on
 Karaage, see https://github.com/Karaage-Cluster/karaage, or the documentation
 at http://karaage.readthedocs.org/
