#!/usr/bin/make -f
# -*- makefile -*-

export PYBUILD_NAME=alogger
export SETUPTOOLS_SCM_PRETEND_VERSION=$(shell cat PKG-INFO | sed -n 's/^Version: //p')

%:
	dh $@ --with python2,python3 --buildsystem=pybuild

.PHONY: override_dh_auto_test
override_dh_auto_test:
	TZ='Australia/Melbourne' \
	dh_auto_test -- --system=custom --test-args="{interpreter} setup.py test"

.PHONY: override_dh_clean
override_dh_clean:
	dh_clean
	rm -rf tmp
